body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/bg.svg) no-repeat ;
}


h1, h2, h3, h4, h5, h6, p, li, a {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:black;
}
li{
    list-style: none;
}
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.active { /*Active page in menu*/
    background-color: #FF7A00;
    border-radius: 48px;
    padding: 8px 20px 8px 20px;
}
.active a { /*Active page in menu*/
    color:#FFFFFF;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
header p{ /*Logo*/
    font-family: 'Michroma';
    font-size: 25px;
}


/*Navigation
/////////////////////////*/
nav{
    display: flex;
    gap: 140px;
}
nav a{
    font-size: 20px;
}


.description{
    margin: 50px 0;
}

.source h1{
    margin-bottom: 20px;
}
.source ul{
    margin: 0;
    padding: 0;
}
.source li{
    display: flex;
    background-color:#FFFFFF;
    padding: 10px 13px 10px 30px;
    gap: 63px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.6);
    border-radius: 62px;
    width: fit-content;
    align-items: center;
    margin-bottom: 15px; 
}


/*Diagrams*/
.infografic h1{
    margin: 20px 0px 10px 0px;
    font-weight: 300;
    font-size: 27px;
    line-height: 90.4%;
}
.diagram{
    width: 50%;
    display: flex;
    color:#FF7A00;
}
.diagram p{
    margin-left: 10px;
    color:#000;
}
.out{
    border: 1px solid #000;
    border-radius: 48px;
    width: 75%;
    padding: 1.5px;
}
.in6{
    background: linear-gradient(90deg, #FF7A00 1.38%, rgba(255, 214, 0, 0.63) 100%);
    border-radius: 48px;
    width: 57%;
}
.in3{
    background: linear-gradient(90deg, #FF7A00 1.38%, rgba(255, 214, 0, 0.63) 100%);
    border-radius: 48px;
    width: 29%;
}
.in2{
    background: linear-gradient(90deg, #FF7A00 1.38%, rgba(255, 214, 0, 0.63) 100%);
    border-radius: 48px;
    width: 14%;
}

/*Footer
/////////////////////////*/
footer{
	background-color: #000;
	padding: 25px 85px;
}

.licence{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 15px;
}
.licence p{
    color:#FFFFFF;
}
.logo{
    color:#fff;
    font-family: 'Michroma';
    font-size: 25px;
}

.ico{
	display: flex;
	gap: 15px;
}




/*Adaptive
/////////////////////////*/
@media (max-width: 1600px) {
    .container{
        max-width: 1400px;
    }
    .security, .control, .light, .climat{
        max-width: 1400px; 
    }
    nav {
        gap: 80px;
    }
    nav li{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .container {
        max-width: 350px;
        overflow: hidden;
    }
    .systems {
        display: block;
    }

    .card1 {
        margin-bottom: 40px;
    }

    #lamp{
        display: none;
    }

    .security, .control, .light, .climat {
        max-width: 350px;
        display: block;
    }

    footer {
        padding: 15px 30px;
    }

}
